@layer utilities {
  .animate-jump-sm {
    animation: bounce 500ms;
    animation-iteration-count: 1;

    @keyframes bounce {
      0% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(1, 1, 0, 0.8);
      }

      50% {
        transform: translateY(-8%);
        animation-timing-function: cubic-bezier(1, 0.2, 0, 0);
      }

      100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(1, 1, 0, 0.8);
      }
    }
  }
}
